<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cluedo</title>
    <link rel="stylesheet" href="css/mvp.css">
</head>
<body>
<section>
    <header>
        <h1>Person</h1>
    </header>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Hair color</th>
            <th>Age</th>
            <th>Height</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${people}">
            <td th:text="${person.getName()}"></td>
            <td th:text="${person.getHairColor()}"></td>
            <td th:text="${person.getAge()}"></td>
            <td th:text="${person.getHeight()}"></td>
        </tr>
        </tbody>
    </table>
</section>

</body>
</html>